<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adam Bennett | Contract Java and JavaScript Developer | adben002@gmail.com</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Adam Bennett | Senior Java Developer | adben002@gmail.com">
    <meta name="theme-color" content="#5DADE2"/>

    <link rel="shortcut icon" href="<%= baseUrl %>/favicon.ico" type="image/x-icon"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('<%= baseUrl %>/sw.js?buildId=<%= baseUrl %>');
            });
        }
    </script>

    <link rel="manifest" href="<%= baseUrl %>/manifest.json">

    <style>a {
            color: #0055B3
        }</style>

</head>

<body>
<main role="main" class="container">
    <div class="row border-bottom">
        <div class="col-12">
            <h1 class="mt-5">Adam Bennett</h1>
        </div>
        <div class="col-12">
            <h5>
                Contract Java and JavaScript Developer -
                <a href="mailto:adben002@gmail.com">adben002@gmail.com</a>
            </h5>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>
                <i class="fas fa-bookmark"></i>
                Profile
            </h3>
        </div>
    </div>
    <div class="col-12">
        Full-stack Java and JavaScript senior web developer with 7+ years’ experience designing, implementing and
        testing Java server software on complex deadline-driven projects.
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>
                <i class="fas fa-cogs text-grey-color"></i>
                Technical
            </h3>
        </div>
    </div>
    <div class="row pl-5 pr-5">
        <div class="list-group-item col-4 list-group-item-warning">Spring 3+</div>
        <div class="list-group-item col-4 list-group-item-warning">Hibernate / JPA</div>
        <div class="list-group-item col-4 list-group-item-warning">Kotlin</div>
        <div class="list-group-item col-4 list-group-item-warning">Git</div>
        <div class="list-group-item col-4 list-group-item-warning">AWS</div>
        <div class="list-group-item col-4 list-group-item-warning">Angular 1+</div>
        <div class="list-group-item col-4 list-group-item-warning">React</div>
        <div class="list-group-item col-4 list-group-item-warning">SQL (Oracle, DB2, MySQL)</div>
        <div class="list-group-item col-4 list-group-item-warning">Agile</div>
        <div class="list-group-item col-4 list-group-item-warning">jQuery</div>
        <div class="list-group-item col-4 list-group-item-warning">JMS</div>
        <div class="list-group-item col-4 list-group-item-warning">CSS</div>
        <div class="list-group-item col-4 list-group-item-warning">Lucene</div>
        <div class="list-group-item col-4 list-group-item-warning">Python</div>
        <div class="list-group-item col-4 list-group-item-warning">Gradle</div>
        <div class="list-group-item col-4 list-group-item-warning">Maven</div>
        <div class="list-group-item col-4 list-group-item-warning">Webpack</div>
        <div class="list-group-item col-4 list-group-item-warning">Selenium</div>
        <div class="list-group-item col-4 list-group-item-warning">Thymeleaf</div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>
                <i class="fas fa-briefcase"></i>
                Experience
            </h3>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Contract Software Engineer</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener"
                 href="https://www.business.rbs.co.uk/business/ways-to-bank/bankline.html">RBS</a>
            </strong>
          </span>
                <span class="text-grey-color">(04/06/2018 to Present)</span>
                <ul>
                    <li>NatWest/RBS New Bankline application development and design of a microservice architecture.</li>
                    <li>Addition of Cucumber acceptance tests based on test scripts to several Java and Kotlin
                        microservices.
                    </li>
                    <li>Microservice implementation for accounts search, transactions search and search results pdf
                        export.
                    </li>
                    <li>The investigation, analysis and implementation of payment advice pdf export.</li>
                    <li>Design, development and architecture of a new Kotlin microservice connecting to a DB2 database
                        and communicating with external services for high-pressure regulatory work.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Senior Developer</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener" href="http://www.scottlogic.com/">Scott Logic</a>
            </strong>
          </span>
                <span class="text-grey-color">(01/04/2017 to 04/06/2018)</span>
                <ul>
                    <li>Consultancy work for Hargreaves Lansdown active savings project in a high-pressure agile
                        delivery environment. Involved performance improvements through query improvement and caching.
                        Collaboration in the design and implementation of an interface to create bank accounts and
                        transfer funds.
                    </li>
                    <li>Interviewing of developer candidates ranging from intern to lead developer.</li>
                    <li>Non-project work on developing an open-source java library for POJO and hibernate test data
                        generation. Involved the release to maven central.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Senior Developer, Joint Technical Lead</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener" href="https://www.civica.com/en-GB/civica-digital/">Civica Digital</a>
            </strong>
          </span>
                <span class="text-grey-color">(01/01/2017 to 01/04/2017)</span>
                <ul>
                    <li>After the takeover of IPL.</li>
                    <li>Optimisation and performance tuning for complex algorithms involving MySQL DB, Java concurrency,
                        spring batch and Lucene.
                    </li>
                    <li>In charge of sub-project to provide inbound and outbound interfaces for the system.</li>
                    <li>Explanation of the service team of the high-level design and implementation.</li>
                    <li>Implementation of a tool to validate migrated data against system validation rules.</li>
                    <li>Implementation of framework utilizing Selenide and PhantomJS for integration testing of the
                        system.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Senior Developer, Joint Technical Lead</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener" href="http://www.ipl.com/">IPL (Information Processing Limited)</a>
            </strong>
          </span>
                <span class="text-grey-color">(01/01/2017 to 01/04/2017)</span>
                <ul>
                    <li>Architecture, design and majority of implementation for repricing and compliance engines on a
                        railway ticket
                        product management system.
                    </li>
                    <li>Technical advisor/supervisor and reviewer for development teams based in Poland and the UK.</li>
                    <li>Core development and support of a parallel spring batch process for exporting timeline data from
                        several database
                        tables also included calculation of incremental changes. This process would publish files to AWS
                        S3 buckets
                        and send SQS messages.
                    </li>
                    <li>Implementation of an inbound interface for receiving files with approximately 22 million XML
                        records then inserting
                        and translating that data into the system's database.
                    </li>
                    <li>Front-end interface for large amounts of data manipulation using AngularJs.</li>
                    <li>Optimisation and performance tuning for complex algorithms involving large data and database
                        queries.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Developer</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener" href="http://www.ipl.com/">IPL (Information Processing Limited)</a>
            </strong>
          </span>
                <span class="text-grey-color">(15/07/2013 to 01/10/2015)</span>
                <ul>
                    <li>Software design and implementation of core greenfield areas of a railway product management
                        system.
                    </li>
                    <li>Performing CRUD operations using MySQL, Hibernate, Spring MVC, JSP, and jQuery. With a very
                        complex underlying
                        data-structure and complicated business requirements.
                    </li>
                    <li>Development was done in eclipse using git as a source control management system.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-info text-white">Junior Programmer (University placement)</h4>
            <div class="card-body">
          <span>
            <strong>
              <a target="_blank" rel="noopener" href="http://www.pml.ac.uk/">Plymouth Marine Laboratory</a>
            </strong>
          </span>
                <span class="text-grey-color">(01/08/2011 to 20/09/2012)</span>
                <ul>
                    <li>
                        Processing of hyperspectral and LiDAR images captured from an aeroplane using a cluster queue
                        management system.
                    </li>
                    <li>
                        Implementation of a DEM creation script using BASH, this would create a script that would be fed
                        into an ArcGIS
                        system to patch elevation models and LiDAR data together.
                    </li>
                    <li>
                        Completion of a website for searching satellite images via a polygon.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>
                <i class="fas fa-graduation-cap text-grey-color"></i>
                Education
            </h3>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <h4 class="card-header bg-success">
                <a target="_blank" rel="noopener" href="http://www.bath.ac.uk/" class="text-white">University of
                    Bath</a>
            </h4>
            <div class="card-body">
          <span>
            <a target="_blank" rel="noopener"
               href="http://www.bath.ac.uk/study/ug/prospectus/subject/computer-science-mathematics/">
              <strong>Computer Science and Mathematics</strong>
            </a>
          </span>,
                <span>
            1st Class Bachelor's degree
          </span>
                <span class="text-grey-color">
            (10/14/2009 to 07/23/2013)
          </span>
                <p class="text-justify">
                    Modules included parallel programming and computer algebra. Dissertation on learning aids in
                    educational software.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col text-center">
            <a aria-label="Twitter" target="_blank" rel="noopener" href="https://twitter.com/adben002">
                <i class="fab fa-twitter fa-3x mr-3"></i>
            </a>
            <a aria-label="LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/adben002">
                <i class="fab fa-linkedin fa-3x mr-3"></i>
            </a>
            <a aria-label="GitHub" target="_blank" rel="noopener" href="https://github.com/adben002">
                <i class="fab fa-github fa-3x"></i>
            </a>
        </div>
    </div>
</main>
</body>

</html>
