<div class="container">
  <div class="border-bottom row">
    <div class="col-12">
      <h1 class="mt-5">Adam Bennett</h1>
    </div>
    <div class="col-12">
      <h5> Senior Full-Stack Web Developer -<a class="ml-1" href="mailto:adben002@gmail.com">adben002@gmail.com</a></h5>
    </div>
  </div>
  <div class="mt-4 row">
    <div class="col-12">
      <h5> 8+ years' in owning day-to-day platform performance and bug fixes.</h5>
    </div>
  </div>
  <div class="mt-4 row">
    <div class="col-12">
      <h3>
        <fa-icon [icon]="faBookmark"></fa-icon>
        <span class="pl-2">Profile</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Full-stack development professional with a passion for new technologies and improving processes. Experience with
      an Agile environment and understanding of requirements to develop them into working features. Comprehensive
      knowledge of business and technical requirements to drive technological development. Strong organisational and
      project management skills, leveraging strengths in team leadership, cross-team collaboration, and stakeholder
      communication.
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="text-center pt-3 pb-3 col-8">
      <i>
        Software Engineering / Web Development / Application Modernization / Agile Environment System Architecture
        Design and Implementation / Root Cause Analysis / Project Management
      </i>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="mt-4 row">
    <div class="col-12">
      <h3>
        <fa-icon [icon]="faCogs"></fa-icon>
        <span class="pl-2">Technical</span>
      </h3>
    </div>
  </div>
  <div class="pl-5 pr-5 row">
    <div class="App-Item col-4">Java</div>
    <div class="App-Item col-4">API Design</div>
    <div class="App-Item col-4">Database Delivery</div>
    <div class="App-Item col-4">Agile Delivery</div>
    <div class="App-Item col-4">Microservice Architecture</div>
    <div class="App-Item col-4">Spring 3+</div>
    <div class="App-Item col-4">Git</div>
    <div class="App-Item col-4">SQL (Oracle, DB2, MySQL)</div>
    <div class="App-Item col-4">Kotlin</div>
    <div class="App-Item col-4">Hibernate/JPA</div>
    <div class="App-Item col-4">Amazon Web Services (AWS)</div>
    <div class="App-Item col-4">React</div>
    <div class="App-Item col-4">Lucene</div>
    <div class="App-Item col-4">Python</div>
    <div class="App-Item col-4">Selenium</div>
    <div class="App-Item col-4">Maven</div>
    <div class="App-Item col-4">BASH</div>
  </div>
  <div class="mt-4 row">
    <div class="col-12">
      <h3>
        <fa-icon [icon]="faBriefcase"></fa-icon>
        <span class="pl-2">Experience</span>
      </h3>
    </div>
  </div>
  <div class="mt-2 col-12" *ngFor="let job of jobs">
    <div class="card">
      <h4 class="bg-info text-white card-header">{{job.role}}</h4>
      <div class="card-body">
        <span>
          <strong>
            <a target="_blank" rel="noopener noreferrer" [href]="job.placeUrl">{{job.place}}</a>
          </strong>
        </span>
        <span class="text-grey-color pl-1">
          ({{formatDate(job.range.from)}} to {{formatDate(job.range.to)}})
        </span>
        <div class="pt-1 pb-1 pl-1 pr-1">
          <i>Technical Scope: {{job.technicalScope}}</i>
        </div>
        <div class="pt-1 pb-2 pl-1 pr-1">{{job.details}}</div>
        <ul>
          <li *ngFor="let contribution of job.keyContributions">{{contribution}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-4 no-print row">
    <div class="col-12">
      <h3>
        <fa-icon [icon]="faGraduationCap"></fa-icon>
        <span class="pl-2">Education</span>
      </h3>
    </div>
  </div>
  <div class="mt-2 no-print col-12">
    <div class="card">
      <h4 class="bg-success text-white card-header">
        <a target="_blank" rel="noopener noreferrer" href="http://www.bath.ac.uk/" class="text-white">
          University of Bath
        </a>
      </h4>
      <div class="card-body">
        <span>
          <a target="_blank" rel="noopener noreferrer"
             href="https://www.bath.ac.uk/courses/undergraduate-2021/computer-science/bsc-computer-science-and-mathematics-including-placement-year/">
            <strong>Computer Science and Mathematics</strong>
          </a>
        </span>,<span class="ml-1">1st Class Bachelor's degree</span>
        <span class="text-grey-color ml-1">({{formatDate(formatZeroIndexedDate(0, 11, 2009))}}
          to {{formatDate(formatZeroIndexedDate(0, 8, 2013))}})</span>
        <p class="text-justify">
          Modules included parallel programming and computer algebra. Dissertation on learning aids in educational
          software.
        </p>
      </div>
    </div>
  </div>
  <hr class="no-print"/>
  <div class="mt-4 no-print row">
    <div class="text-center col">
      <a aria-label="Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/adben002"
         class="pr-3">
        <fa-icon [icon]="faTwitter" size="3x"></fa-icon>
      </a>
      <a aria-label="LinkedIn" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/adben002/"
         class="pr-3">
        <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
      </a>
      <a aria-label="GitHub" target="_blank" rel="noopener noreferrer" href="https://github.com/adben002">
        <fa-icon [icon]="faGithub" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</div>
